- content_for :title, 'All Clubs'

.row.actions
  .small-12.columns.text-right
    = link_to new_club_path, class: 'button' do
      Add Club

.table
  .tr
    .thd
    .thd
    .thd
    .thd Name
    .thd.text-center Conference
    .thd.text-center Abbrv
    .thd

  - @clubs.each do |club|
    .tr
      .td.color{ style: "background-color: ##{club.primary_color}" }
      .td.color{ style: "background-color: ##{club.secondary_color}" }
      .td.color.accent{ style: "background-color: ##{club.accent_color}" }
      .td
        = link_to club do
          = image_tag('http://midnightriders.com' + club.crest.url(:thumb), class: 'crest-img', alt: club.abbrv ) unless club.crest.blank?
          = club.name
      .td.text-center= club.conference.titleize
      .td.text-center= club.abbrv
      .td.actions.text-right
        = link_to 'Edit', edit_club_path(club), class: 'button tiny'
        - if can? :destroy, club
          = link_to 'Destroy', club, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button tiny alert'