- content_for :title, 'All Clubs'

.row.actions
  .column.text-right
    = link_to new_club_path, class: 'button' do
      = icon 'fa-solid', 'shield fa-fw'
      Add Club

.table
  .tr
    .thd
    .thd
    .thd
    .thd Name
    .thd.text-center Conference
    .thd.text-center Abbrv
    .thd

  - @clubs.each do |club|
    .tr
      .td.color{ style: "background-color: ##{club.primary_color}" }
      .td.color{ style: "background-color: ##{club.secondary_color}" }
      .td.color.accent{ style: "background-color: ##{club.accent_color}" }
      .td
        = link_to club do
          = image_tag(club.crest.url(:thumb), class: 'crest-img', alt: club.abbrv ) unless club.crest.blank?
          = club.name
      .td.text-center= club.conference.titleize
      .td.text-center= club.abbrv
      .td.actions.text-right
        = link_to edit_club_path(club), class: 'button small' do
          = icon 'fa-regular', 'pencil fa-fw'
          Edit
        - if can? :destroy, club
          = link_to club, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button small alert' do
            = icon 'fa-solid', 'trash fa-fw'
            Destroy
