- content_for :title do
  Club View
  %small= link_to 'Return', clubs_path
%h2.club{ class: @club.abbrv.downcase }
  = @club.name
  %small{ style: "color:##{get_contrast_yiq(@club.primary_color)}"}= @club.abbrv
.row
  .medium-8.columns
    %h3.subheader #{@club.conference.titleize}ern Conference
  - if can? :manage, @club
    .medium-4.columns.text-right
      = link_to edit_club_path(@club), class: 'button small' do
        = icon 'pencil'
        Edit
      - if can? :destroy, @club
        = link_to @club, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button alert small' do
          = icon 'trash-o'
          Destroy
.row
  .medium-3.columns
    %h3 Next Match:
  .medium-9.columns
    - if @club.next_match
      %p
        = @club.next_match.kickoff.strftime('%_m.%-d at %l:%M%P')
        %br
        vs
        - if @club.next_match.home_team == @club
          = @club.next_match.away_team.name
        - else
          = @club.next_match.home_team.name
        %br
        at
        = @club.next_match.location



- if current_user.role? :admin
  .row
    .medium-4.large-3.columns
      %h4 Colors:
    .medium-8.large-9.columns
      %table{ width: '100%' }
        %tr
          %td.text-center{ width: '40%', bgcolor: "##{@club.primary_color}", style: "color:##{get_contrast_yiq(@club.primary_color)};"} Primary: ##{@club.primary_color}
          %td.text-center{ width: '40%', bgcolor: "##{@club.secondary_color}", style: "color:##{get_contrast_yiq(@club.secondary_color)};"} Secondary: ##{@club.secondary_color}
          %td.text-center{ width: '20%', bgcolor: "##{@club.accent_color}", style: "color:##{get_contrast_yiq(@club.accent_color)};"} Accent: ##{@club.accent_color}