.row.collapse
  .medium-3.columns
    = link_to transactions_path, class: "button small expand #{'success' unless params[:view]}" do
      = icon 'fa-solid', 'plus'
      = icon 'fa-solid', 'users'
      New Memberships
  .medium-3.columns
    = link_to transactions_path(view: 'refunded'), class: "button small expand #{'success' if params[:view] == 'refunded'}" do
      = icon 'fa-solid', 'minus'
      = icon 'fa-solid', 'users'
      Refunded Memberships
  .medium-3.columns
    = link_to transactions_path(view: 'all'), class: "button small expand #{'success' if params[:view] == 'all'}" do
      = icon 'fa-solid', 'users'
      All Memberships
  .medium-3.columns
    = link_to transactions_path(view: 'detailed'), class: "button small expand #{'success' if params[:view] == 'detailed'}" do
      = icon 'fa-solid', 'list-alt'
      Detailed Transactions
