- content_for :title, 'Transactions: Detailed'

.row
  .column
    = render 'transactions_nav'

    %table.card-item{ cellspacing: 0 }
      %thead
        %tr
          %th{ colspan: 4 }
            %h2 Transactions: Detailed
        %tr
          %th.small-2 Timestamp
          %th.small-3 Event Type
          %th.small-2 User
          %th.small-5 Details
      %tbody
        - @transactions.each do |event|
          - user = @users[event.data.object.object == 'customer' ? event.data.object.id : event.data.object.try(:customer)]
          %tr{ data: { event_id: event.id } }
            %td
              %small= Time.at(event.created).in_time_zone.strftime('%m-%d-%Y %I:%M%P')
            %td
              %strong= event.type
            %td
              - if user
                = link_to user.username, user
              - elsif event.data.object.object == 'transfer'
                No User (Transfer)
              - else
                No User:
                = event.data.object.object == 'customer' ? event.data.object.id : event.data.object.try(:customer)
            %td
              %a.toggle-div{ href: '#' } View Details
              %pre.toggle-target= event.data.object
      - if @has_more
        %tfoot
          %tr
            %td.text-right{ colspan: 4 }
              = link_to transactions_path(view: :detailed, starting_after: @transactions.last[:id]), class: 'button' do
                Next
                %i.fa.fa-arrow-right.fa-fw

