- disabled ||= false
.row
  .medium-4.columns
    = f.label :year, class: 'inline'
  .medium-8.columns
    - if can? :manage, User
      = f.select :year, (1994..Date.current.year + (Date.current.month > 9 ? 1 : 0)), {}, disabled: disabled
      = errors_for(f.object, :year)
    - else
      = f.hidden_field :year
      .inline= f.object.year

- if f.object.family_id
  = f.hidden_field :type, 'Relative'
  = f.hidden_field :family_id
- else
  .row
    .medium-4.columns
      = f.label :type, class: 'inline'
    .medium-8.columns
      = f.select :type, %w( Individual Family ), {}, disabled: disabled
      = errors_for(f.object, :type)

- if can? :grant_privileges, Membership
  .row
    .medium-4.columns
      = f.label :privileges, 'Privileges', class: 'inline'
    .medium-8.columns
      = f.select :privileges, Membership::PRIVILEGES.sort.map{|r| [r.titleize,r]}, {}, multiple: true, size: 3, disabled: disabled
      = errors_for(f.object, :privileges)
