- disabled ||= false
.row
  .medium-4.columns
    = f.label :year, class: 'inline'
  .medium-8.columns
    - years = [Date.today.year, Date.today.year + 1]
    - years.unshift f.object.year unless f.object.new_record? || f.object.year.in?(years)
    = f.select :year, years, {}, disabled: disabled
    = errors_for(f.object, :year)
.row
  .medium-4.columns
    = f.label :roles, 'Role(s)', class: 'inline'
  .medium-8.columns
    - memberships = can?(:manage, User) ? Membership::ROLES.sort.map{|r| [r.titleize,r]} : [['Individual', 'individual'], ['Family', 'family']]
    = f.select :roles, memberships, {}, multiple: true, size: 5, disabled: disabled
    = errors_for(f.object, :roles)
