- content_for :head do
  %meta{ name: 'stripe-public-key', content: ENV['STRIPE_PUBLIC_KEY'] }
- enqueue_javascript 'https://js.stripe.com/v2/'

= form_for [@user, @membership.becomes(Membership)], html: { autocomplete: 'on' } do |f|
  .row
    .large-4.columns
      %h3
        = @membership.new_record? ? 'New' : 'Edit'
        Membership
    .large-8.columns
      - unless f.object.errors[:base].empty?
        .alert-box.alert
          - f.object.errors[:base].each do |error|
            %p= error
      .row
        .medium-4.columns
          = f.label :year, class: 'inline'
        .medium-8.columns
          - if can? :manage, User
            = f.select :year, (1994..@year), {}
            = errors_for(f.object, :year)
          - else
            = f.hidden_field :year
            .inline= f.object.year
      
      .row
        .medium-4.columns
          = f.label :type, class: 'inline'
        .medium-8.columns
          = f.select :type, Membership::COSTS.map{|type, cost| ["#{type}: #{number_to_currency(cost.to_f/100)}", type]}, {}
          = errors_for(f.object, :type)
      .row
        .medium-8.columns.right
          = f.check_box :subscription
          = f.label :subscription, 'Sign up for automatic yearly renewal'
      
      - if can? :grant_privileges, Membership
        .row
          .medium-4.columns
            = f.label :privileges, 'Privileges', class: 'inline'
          .medium-8.columns
            = f.select :privileges, Membership::PRIVILEGES.sort.map{|r| [r.titleize,r]}, {}, multiple: true, size: 3
            = errors_for(f.object, :privileges)
        .row
          .medium-8.columns.right
            = f.fields_for :info do |info_fields|
              = info_fields.check_box :override, value: current_user.id, include_hidden: false, checked: f.object.info.try(:override), disabled: !f.object.info.try(:override).in?([nil, current_user.id])
              = info_fields.label :override, 'Override Credit Card', class: 'inline'

        = f.hidden_field :subscription, value: 0
      - elsif !f.object.user.current_member? && f.object.user.memberships.last && f.object.user.memberships.last.privileges.include?('admin')
        = f.hidden_field :privileges, value: 'admin', multiple: true
      
      - if f.object.stripe_card_token || @cards.present?
        = f.hidden_field :stripe_card_token if f.object.stripe_card_token
        .row
          .medium-8.columns.right
            %label.inline
              Credit Card has been provided
              = link_to '(Change Card)', '#', id: 'show-credit-card-info'

            - if @cards.present?
              = select_tag :card_id, options_for_select(@cards.map{|card| ["#{card.brand}: x#{card.last4} (exp #{card.exp_month}/#{card.exp_year})", card.id] })
      
      - unless f.object.stripe_card_token
        #credit-card-info{ class: ('hide' if f.object.user.stripe_customer_token && @cards.present?) }
          .row
            .medium-4.columns
              = label_tag 'stripe_card_number', class: 'inline' do
                Credit Card Number
            .medium-8.columns
              .row.collapse
                .small-10.columns
                  = text_field_tag nil, '', id: 'stripe_card_number', maxlength: 16, pattern: '[0-9]*', disabled: (f.object.user.stripe_customer_token && @cards.present?)
                .small-2.columns
                  = link_to 'https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=members.midnightriders.com', target: '_blank', class: 'button secondary postfix', title: 'Learn more' do
                    = icon 'lock fa-fw'
                    %small SSL
          .row
            .medium-4.columns
              = label_tag 'stripe_exp_month', 'Expiration / CVC'
            .medium-8.columns
              .row
                .small-4.columns
                  = select_tag nil, options_for_select((1..12), Date.current.month), id: 'stripe_exp_month', disabled: (f.object.user.stripe_customer_token && @cards.present?)
                .small-4.columns
                  = select_tag nil, options_for_select((Date.current.year..Date.current.year+10), Date.current.year), id: 'stripe_exp_year', disabled: (f.object.user.stripe_customer_token && @cards.present?)
                .small-4.columns
                  = text_field_tag nil, '', id: 'stripe_cvc', placeholder: 'CVC', pattern: '[0-9]*', disabled: (f.object.user.stripe_customer_token && @cards.present?)
          = f.hidden_field :stripe_card_token, disabled: (f.object.user.stripe_customer_token && @cards.present?)
      
      = f.button :submit, class: 'button right' do
        = icon 'credit-card fa-fw'
        Purchase Membership
