= form_for [@user,@membership] do |f|
  .row
    .large-4.columns
      %h3
        = @membership.new_record? ? 'New' : 'Edit'
        Membership
    .large-8.columns
      = f.fields_for :info do |info_fields|
        - if f.object.info
          - f.object.info.try(:each) do |key, value|
            = info_fields.hidden_field key, value: value
        - else
          = info_fields.hidden_field :override, value: current_user.id
      = render 'fields', f: f
      = f.submit class: 'button right'