= form_for [@user,@membership] do |f|
  .row
    .large-4.columns
      %h3
        = @membership.new_record? ? 'New' : 'Edit'
        Membership
    .large-8.columns
      = f.hidden_field :info, value: f.object.info || { override: current_user.id }
      = render 'fields', f: f
      = f.submit class: 'button right'