%p
  #{@user.first_name},
%p Congratulations! You're officially a #{@membership.year} #{@membership.type} member.
%p We've received confirmation of your yearly payment of #{number_to_currency(@membership.cost.to_i)}.
%p Please keep this email for your records.
%center
  %code Charge ID: #{@membership.stripe_charge_id}
%p See you in the parking lots!
%p The Midnight Riders
