%p
  #{@user.first_name},
%p Congratulations! You're officially a #{@membership.year} #{@membership.type} member.
%p We've received confirmation of your yearly payment of #{number_to_currency(@membership.cost.to_i)}.
%p Please keep this email for your records.
%center
  %code Charge ID: #{@membership.stripe_charge_id}
%p
  Membership Packs may be picked up at the Annual General Meeting. Unclaimed
  packs will be mailed USPS to the addresses listed in the Midnight Riders
  Member Portal. Please make sure that your address is current. We will do
  our best to ensure delivery of packs, but cannot claim responsibility for
  packs lost in the mail.
%p Please email #{mail_to 'membership@midnightriders.com'} if you have any questions.
%p
  Active members receive exclusive access to our dedicated
  #{link_to 'Facebook Group', 'https://www.facebook.com/groups/2020Riders'}.
  Visit the page and press the blue "+ Join Group" button. All Member Requests
  and Posts are screened by the Exec. Board. Don't be discouraged if this might
  take some time.

- if @user.privilege? 'family'
  %p
    You are registered as having a Family Membership. Sub-accounts may be created
    for qualified family members by clicking the "Actions" button on your main
    Member Portal page. Qualified Family Members are immediate family members
    residing in the same household. Please see our
    = link_to 'by-laws', 'https://www.midnightriders.com/Midnight%20Riders%20Constitution%20and%20Bylaws.pdf'
    for further information.
%p See you in the parking lots!
%p The Midnight Riders
