%p A new #{link_to "#{@membership.year} #{@membership.type} Membership", user_membership_url(@user,@membership)} has been created for #{@user.first_name} #{@user.last_name} (#{link_to "@#{@user.username}", user_url(@user)}).
%p Actions:
%ul
  %li= link_to 'New Memberships', transactions_url
  %li= link_to 'All Transactions', transactions_url(view: 'detailed')