%p
  #{@user.first_name},
%p
  Congratulations! You're officially a #{@membership.year} #{@membership.type} member.
%p
  Membership Packs can be picked up in person or are shipped USPS to the address
  listed in your Midnight Riders Member Portal account. Packs include your Parking
  Pass#{ 'es' if @membership.is_a?(Family)} required to park in our dedicated supporters lot. Materials for
  memberships purchased within three days of a Home Game are held for pickup in
  the parking lot.
%p
  Email #{mail_to 'membership@midnightriders.com'} if you have any questions or plan to pickup
  the materials in person.
%p
  Active members receive exclusive access to our dedicated
  #{link_to 'Facebook Group', 'https://www.facebook.com/groups/2023midnightriders/'}.
  Visit the page and press the blue "+ Join Group" button. All Member Requests
  and Posts are screened by the Exec. Board. Don't be discouraged if this might
  take some time.
- if @user.privilege? 'family'
  %p
    You are registered as having a Family Membership. Sub-accounts may be created
    for qualified family members by clicking the "Actions" button on your main
    Member Portal page. Qualified Family Members are immediate family members
    residing in the same household. Please see our
    = link_to 'by-laws', 'https://www.midnightriders.com/Midnight%20Riders%20Constitution%20and%20Bylaws.pdf'
    for further information.
%p
  Please visit our
  #{link_to 'New Member FAQ', 'https://www.midnightriders.com/about-us/membership/new-member-faq/'}.
%p Welcome aboard and see you in the Parking Lots!
%p That's it, welcome aboard, and see you in the Parking Lots!
%hr{ style: 'border:dashed #6a0003;border-width:1px 0 0;' }
%h4{ align: 'center', style: 'text-transform: uppercase;' } Payment Confirmation
%p
  We've received your payment of
  %strong #{number_to_currency(@membership.cost)}.
%p Please keep this email for your financial records.
%center
  %code Charge ID: #{@membership.stripe_charge_id}
%hr{ style: 'border:dashed #6a0003;border-width:1px 0 0;' }

%p The Midnight Riders
