%p
  #{@user.first_name},
%p
  Congratulations! You're an official
  %strong #{@membership.type} Midnight Rider for the #{@membership.year} Season.
%p Now that you're an official Midnight Rider, be on the lookout for a few things:
%ol
  %li
    %strong
      An invite (via email) to our official #{@membership.year} Midnight Riders
      Facebook group and our Open Discussion Facebook group.
    We utilize these groups to post various updates and alerts regarding games, away matches, watch parties, and philanthropy events. The Open Discussion Group is where Riders may discuss all things Revs, Riders, or MLS related. Accept your invite and join in on the discussion.
  %li
    %strong Your Membership Packet
    will arrive in the mail and includes your Parking Pass#{ 'es' if @membership.is_a?(Family)}, a Membership Card, and a wicked awesome sticker. You'll need your parking pass to park in our dedicated supporters lot. If you've signed up a couple days before a home game that you plan on attending, shoot an email to #{styled_link_to 'membership@midnightriders.com', 'mailto:membership@midnightriders.com'}, as your pack might not arrive on time.
%p
  If you've got any further questions, check out our #{styled_link_to 'New Member FAQ', 'http://www.midnightriders.com/about-us/membership/new-member-faq/'} - it's got some really useful information.

%p That's it, welcome aboard, and see you in the Parking Lots!
%hr{ style: 'border:dashed #6a0003;border-width:1px 0 0;' }
%h4{ align: 'center', style: 'text-transform: uppercase;' } Payment Confirmation
%p
  We've received your payment of
  %strong #{number_to_currency(Membership::COSTS[@membership.type.to_sym].to_f / 100)}.
%p Please keep this email for your financial records.
%center
  %code Charge ID: #{@membership.stripe_charge_id}
%hr{ style: 'border:dashed #6a0003;border-width:1px 0 0;' }
%p The Midnight Riders
