%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .row
    .large-4.columns
      = f.label :email, class: 'inline'
    .large-8.columns
      = f.email_field :email, :autofocus => true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p.hint
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .row
    .large-4.columns
      = f.label :password, class: 'inline'
    .large-8.columns
      = f.password_field :password, :autocomplete => 'off'
      %p.hint (leave blank if you don't want to change it)
  .row
    .large-4.columns
      = f.label :password_confirmation, class: 'inline'
    .large-8.columns
      = f.password_field :password_confirmation
  .row
    .large-4.columns
      %h3 Contact Information
    .large-8.columns
      .row
        .large-4.columns
          = f.label :email, class: 'inline'
        .large-8.columns
          = f.email_field :email, :autofocus => true
      .row
        .small-12.columns
          = f.label :address, 'Street Address'
          = f.text_area :address, rows: 3
      .row
        .small-12.medium-5.large-6.columns
          = f.label :city
          = f.text_field :city
        .small-4.medium-3.large-2.columns
          = f.label :state
          = f.text_field :state, size: 2
        .small-8.medium-4.columns
          = f.label :postal_code
          = f.text_field :postal_code
  = render partial: 'devise/shared/roles_selection', locals: { resource: resource, params: params }
  - if resource == current_user
    .row
      .large-4.columns
        %h3
          Confirm Changes
          %br
          %small (we need your current password to confirm your changes)
      .large-8.columns
        .row
          .large-4.columns
            = f.label :current_password, class: 'inline'
          .large-8.columns
            = f.password_field :current_password
  .row.text-right
    .small-12.columns= f.submit 'Update', class: 'button'
%h3 Cancel my account
%p
  Unhappy? #{button_to 'Cancel my account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete}
= link_to 'Back', :back
