- if can? :create, User
  .row
    .large-4.columns
      %h3 Administrative Info
    .large-8.columns
      .row
        .large-4.columns
          = label_tag :roles
        .large-8.columns
          - Role.all.each do |role|
            - if can? :create, User, roles: { name: role.name }
              .row
                .small-12.columns
                  = check_box_tag :role_ids, role.id, resource.role?(role.name) || (params[:user] && params[:user][:role_ids].include?(role.id.to_s)), name: 'user[role_ids][]', id: "user_role_ids_#{role.id}"
                  = label_tag "user_role_ids_#{role.id}", role.name.titleize