- match_ids ||= false
%table{ cellspacing: 0 }
  - if mot_ms.empty?
    %tr
      %td No votes cast yet
  - else
    %thead
      %tr
        %th
        %th Player
        %th.numeric 1
        %th.numeric 2
        %th.numeric 3
        %th.numeric Points
    - mot_ms.each_with_index do |ms,i|
      - ms[1].each_with_index do |mot_m,j|
        %tr
          %td.numeric
            - if j == 0
              = i + 1
            - else
              %small= i + 1
          %td
            = link_to mot_m do
              = mot_m.first_name
              %strong= mot_m.last_name
          - if match_ids
            %td.numeric= mot_m.mot_m_firsts.where(match_id: match_ids).size
            %td.numeric= mot_m.mot_m_seconds.where(match_id: match_ids).size
            %td.numeric= mot_m.mot_m_thirds.where(match_id: match_ids).size
          - else
            %td.numeric= mot_m.mot_m_firsts.size
            %td.numeric= mot_m.mot_m_seconds.size
            %td.numeric= mot_m.mot_m_thirds.size
          %td.numeric= ms[0]
