%table{ cellspacing: 0 }
  - if mot_ms.empty?
    %tr
      %td No votes cast yet
  - else
    %thead
      %tr
        %th
        %th Player
        %th.numeric 1
        %th.numeric 2
        %th.numeric 3
        %th.numeric Pts
    - last = nil
    - place = 0
    - mot_ms.each do |player|
      %tr
        %td.numeric
          - if player.info[:points] != last
            - last = player.info[:points]
            = place += 1
          - else
            %small= place
        %td
          = link_to player do
            = player.first_name
            %strong= player.last_name
        %td.numeric= player.info[:breakdown][:first]
        %td.numeric= player.info[:breakdown][:second]
        %td.numeric= player.info[:breakdown][:third]
        %td.numeric= player.info[:points]
