- content_for :title, 'Man of the Match'

.row.actions
  .small-12.columns.text-righ
    = link_to 'Cast Your Vote', matches_path, class: 'button'

.table
  .tr
    .thd Match
    .thd First
    .thd Second
    .thd Third
    .thd

  - @mot_ms.each do |mot_m|
    .tr
      .td
        = mot_m.match.kickoff.strftime('%_m.%-d: ')
        = mot_m.match.home_team.abbrv
        v
        = mot_m.match.away_team.abbrv
      .td
        = link_to mot_m.first do
          = mot_m.first.first_name
          %strong= mot_m.first.last_name
      .td
        - if mot_m.second
          = link_to mot_m.second do
            = mot_m.second.first_name
            %strong= mot_m.second.last_name
      .td
        - if mot_m.third
          = link_to mot_m.third do
            = mot_m.third.first_name
            %strong= mot_m.third.last_name
      .td
        - if can? :edit, mot_m
          = link_to 'Edit', edit_match_mot_m_path(mot_m.match,mot_m)
        - if can? :destroy, mot_m
          = link_to 'Destroy', [mot_m.match,mot_m], :method => :delete, :data => { :confirm => 'Are you sure?' }

