- content_for :title, 'Man of the Match'

.row
  .medium-8.medium-centered.columns
    .row.collapse
      .medium-6.columns
        %h2
          Standings for #{@mstart.strftime('%B %Y')}
      .medium-6.columns.text-right
        .row
          .small-6.columns
            = hidden_field_tag 'date(2i)', 1
            = select_tag 'date(1i)', options_for_select(@months.map{|x| [x.strftime('%B %Y'),x.to_date] }, @mstart.to_date || @months.last.to_date), data: { autosubmit: mot_ms_path(date: 'YYYY-MM-DD') }
    = render 'mot_ms', mot_ms: @mot_m_mo, match_ids: @match_ids
    %h2 Year-Long Standings (#{@mstart.year})
    = render 'mot_ms', mot_ms: @mot_m_yr