- content_for :title, 'Man of the Match'

.row
  .medium-8.large-6.medium-centered.columns
    .alert-box
      .row
        .medium-6.large-4.columns
          %h2.text-center.medium-text-right
            Votes for
        .medium-6.large-8.columns
          = hidden_field_tag 'date(2i)', 1
          = select_tag 'date(1i)', options_for_select(@months.map{|x| [x.strftime('%B %Y'),x.to_date] }, @mstart.to_date || @months.last.to_date), data: { autosubmit: mot_ms_path(date: '___') }
.row
  .medium-8.large-6.medium-centered.large-uncentered.columns
    %section.card
      %h2 MOTY Breakdown for #{@mstart.strftime('%B %Y')}
      = render 'mot_ms_by_match', mot_ms: @mot_ms_for_mo
    %section.card
      %h2 MOTY Standings (#{@mstart.year})
      = render 'mot_ms_by_match', mot_ms: @mot_ms_for_yr
  .medium-8.large-6.medium-centered.large-uncentered.columns
    %section.card
      %h2 Total Votes for #{@mstart.strftime('%B %Y')}
      = render 'mot_ms', mot_ms: @mot_m_mo, match_ids: @mo_match_ids
    %section.card
      %h2 Total Votes for #{@mstart.strftime('%Y')}
      = render 'mot_ms', mot_ms: @mot_m_yr, match_ids: @yr_match_ids
