%h2 Resend unlock instructions
= form_for(resource, as: resource_name, url: main_app.user_unlock_path, html: { method: :post }) do |f|
  = devise_error_messages!
  .row
    .medium-4.columns
      = f.label :email
    .medium-4.columns
      = f.email_field :email, autofocus: true
  .row.actions
    .column
      = f.button :submit, class: 'button' do
        Resend unlock instructions
