= form_for @relative, url: user_membership_relatives_path(@family.user, @family) do |f|
  = f.fields_for :user, @relative_user do |ff|
    .row
      .medium-4.columns
        = ff.label :email, class: 'inline'
      .medium-8.columns
        = ff.text_field :email, placeholder: 'Email Address'
        - if @relative_user.errors.include?(:email)
          %small.error
            = @relative_user.class.human_attribute_name(:email).titleize
            = @relative_user.errors.messages[:email].to_sentence
  .row.actions
    .column
      = f.button :submit, class: 'button' do
        = icon 'plus'
        Add
