= form_for relative, url: user_membership_relatives_path(relative.family.user, relative.family) do |relative_form|
  = relative_form.fields_for :info, OpenStruct.new(relative_form.object.info) do |relative_info_form|
    .row
      .medium-4.columns
        = relative_info_form.label :invited_email, class: 'inline'
      .medium-8.columns
        = relative_info_form.text_field :email, placeholder: 'Email Address'
        - if relative_form.object.errors.dig(:info, :invited_email).present?
          %small.error
            = User.human_attribute_name(:email).titleize
            = relative_form.object.errors.dig(:info, :invited_email).to_sentence

  .row.actions
    .column
      = relative_form.button :submit, class: 'button' do
        = icon 'plus'
        Add
