%section.row.register-now
  .medium-9.large-7.medium-centered.columns
    %h2.text-center You’ve been invited to join #{user.family_invitation.family.user.first_name} #{user.family_invitation.family.user.last_name}’s #{user.family_invitation.family.year} Family&nbsp;Membership!
    .text-center
      %ul.button-group
        %li
          = link_to accept_invitation_for_user_membership_relative_path(user.family_invitation.family.user, user.family_invitation.family, user.family_invitation), class: 'button success', data: { method: :post } do
            = fa_icon 'check fw'
            Accept Family Membership
        %li
          = link_to user_membership_relative_path(user.family_invitation.family.user, user.family_invitation.family, user.family_invitation), class: 'button alert', data: { method: :delete, confirm: 'Are you sure you wish to reject this invitation?' } do
            = fa_icon 'times fw'
            Reject Invitation
%hr
