%section.row.register-now
  .medium-9.large-7.medium-centered.columns
    %h2.text-center You’ve been invited to join #{user.current_family.user.first_name} #{user.current_family.user.last_name}’s #{user.current_family.year} Family&nbsp;Membership!
    .text-center
      %ul.button-group
        %li
          = link_to accept_invitation_for_user_membership_relative_path(user.current_family.user, user.current_family, user.current_membership), class: 'button success', data: { method: :post } do
            = icon 'check fa-fw'
            Accept Family Membership
        %li
          = link_to user_membership_relative_path(user.current_family.user, user.current_family, user.current_membership), class: 'button alert', data: { method: :delete, confirm: 'Are you sure you wish to reject this invitation?' } do
            = icon 'times fa-fw'
            Reject Invitation
%hr
