- if current_user.current_member? && Time.current.between?(Date.current.beginning_of_year + 1.days, Time.zone.local(Date.current.year, 2, 14, 17))
  - content_for :foot do
    .reveal-modal.medium#nominate-modal{ data: { reveal: true } }
      .close-reveal-modal &#215;
      = form_tag '/nominate', method: :post do
        .row
          .large-4.columns
            = label :nomination, :name, 'Name'
          .large-8.columns
            = text_field :nomination, :name, placeholder: 'Name of Nominee'
        .row
          .large-4.columns
            = label :nomination, :position, 'Position'
          .large-8.columns
            = select :nomination, :position, options_for_select(%w[President Treasurer Recording\ Secretary Membership\ Secretary Communications\ Coordinator Philanthropy\ Coordinator Merchandise\ Coordinator].sort + ['501(c)(3) Board of Directors']), include_blank: 'Please Select'
        .row
          .large-8.large-offset-4.columns
            = submit_tag 'Submit Nomination', class: 'button expand'

  .medium-6.columns.right
    = link_to '#', class: 'button large expand', data: { reveal_id: 'nominate-modal' } do
      = icon 'pencil-square-o'
      Submit #{Date.current.year} Board Nomination
