- devise ||= false
- opts = devise ? { url: registration_path(user) } : {}

= form_for(user, opts) do |f|
  - if devise
    = devise_error_messages!
  .row
    .large-4.columns
      %h3 User Information
      - if devise && devise_mapping.confirmable? && resource.pending_reconfirmation?
        %small.hint
          Currently waiting confirmation for:
          = resource.unconfirmed_email
    .large-8.columns
      .row
        .medium-4.columns
          = f.label :username, class: 'inline'
        .medium-8.columns
          = f.text_field :username, :autofocus => true, autocapitalize: 'off', autocorrect: 'off'
      - if devise
        .row
          .medium-4.columns
            = f.label :password, class: 'inline'
          .medium-8.columns
            = f.password_field :password, autocapitalize: 'off', autocorrect: 'off'
            - if !f.object.new_record?
              %small.hint (leave blank if you don't want to change it)
        .row
          .medium-4.columns
            = f.label :password_confirmation, class: 'inline'
          .medium-8.columns
            = f.password_field :password_confirmation, autocapitalize: 'off', autocorrect: 'off'
  .row
    .large-4.columns
      %h3 Membership Information
    .large-8.columns
      .row
        .medium-4.columns
          = f.label :first_name, 'Name', class: 'inline'
        .medium-8.columns
          .row
            .small-6.columns
              = f.text_field :first_name, autocorrect: 'off', placeholder: 'First Name'
            .small-6.columns
              = f.text_field :last_name, autocorrect: 'off', placeholder: 'Last Name'
      .row
        .medium-4.columns
          = f.label :member_since, class: 'inline'
        .medium-8.columns
          = f.number_field :member_since
      .row
        .medium-4.columns
          = label_tag :privileges, 'Current Membership', class: 'inline'
        .medium-8.columns
          - if can? :edit, Membership, user_id: user.id
            .row.collapse
              .small-10.columns
                = text_field_tag :privileges, "#{user.current_membership.try(:year)} – #{user.current_membership.try(:list_privileges)}", disabled: true
              .small-2.columns
                = link_to (f.object.new_record? ? '#' : edit_user_membership_path(user, user.memberships.last)), class: 'postfix small secondary edit-membership' do
                  = icon 'pencil fa-fw'
            .row.hide#edit-membership
              = f.fields_for :membership, @membership || f.object.current_membership do |ff|
                = render 'memberships/fields', f: ff, disabled: true
          - else
            = text_field_tag :privileges, user.current_membership.list_privileges, disabled: true
  .row
    .large-4.columns
      %h3 Contact Information
    .large-8.columns
      .row
        .medium-4.columns
          = f.label :email, class: 'inline'
        .medium-8.columns
          = f.email_field :email, autocorrect: false, autocapitalize: false
      .row
        .small-12.columns
          = f.label :address, 'Street Address'
          = f.text_area :address, rows: 3
      .row
        .medium-5.large-6.columns
          = f.label :city
          = f.text_field :city
        .small-4.medium-3.large-2.columns
          = f.label :state
          = f.text_field :state, size: 2
        .small-8.medium-4.columns
          = f.label :postal_code
          = f.text_field :postal_code
  - if devise && !f.object.new_record?
    .row
      .large-4.columns
        %h3
          Confirm Changes
        %small.hint (we need your current password to confirm your changes)
      .large-8.columns
        .row
          .large-4.columns
            = f.label :current_password, class: 'inline'
          .large-8.columns
            = f.password_field :current_password
  .row.text-right
    .small-12.columns= f.submit (f.object.new_record? ? 'Create' : 'Update'), class: 'button'