.row
  .medium-8.columns
    %h1
      = image_tag(user.gravatar, class: 'gravatar', alt: 'gravatar')
      = user.first_name
      %strong=  user.last_name
      %small
        %br
        @#{user.username}
        - if can? :edit, user
          \(
          = link_to 'edit', edit_user_path(user)
          \)
    %h3.subheader
      %b Member since
      = user.member_since || "at least #{user.created_at.year}"
  .medium-4.columns.text-right
    - if can? :destroy, User
      = link_to user, class: 'button secondary tiny', :method => :delete, :data => { :confirm => "Are you sure you wish to destroy @#{user.username}?" }, title: 'Destroy' do
        = icon 'trash-o', '', class: 'fa-lg fa-fw'

%hr
%h4
  - if can? :create, Membership, user_id: user.id
    = link_to new_user_membership_path(user), class: 'button tiny right', title: 'Create Membership' do
      = icon 'plus fa-fw'
  Membership history:
%ul
  - user.memberships.each do |membership|
    %li
      = membership.year
      –
      = membership.roles.list
      = link_to 'Edit', edit_user_membership_path(user,membership) if can? :edit, membership

%hr
- if current_user==user
  .row
    .small-6.columns
      - if lastmatch = revs.last_match
        = lastmatch.decorate.mot_m_button('tiny secondary expand', true)
    .small-6.columns
      - if nextmatch = revs.next_match
        = nextmatch.decorate.rev_guess_button('tiny secondary expand', true)

.table
  .thead
    .tr
      .thd.text-center
        %h4 RevGuess Score:
      .thd.text-center
        %h4 Pick ’Em Score:
  .tbody
    .tr
      .td.text-center
        %p
          = user.rev_guess_score
          %small (#{user.rev_guesses.select{|r| r.match.complete? }.length} games)
      .td.text-center
        %p
          = user.pick_em_score
          %small (#{user.pick_ems.select{|r| r.match.complete? }.length} games)

%hr

- if can? :manage, user
  .row
    .medium-4.large-2.columns
      %label Address:
    .medium-8.large-10.columns
      %p
        - if user.address
          = user.address.gsub(/\n/,'<br>').html_safe
          %br
          #{user.city},
          = user.state
          = user.postal_code
        - else
          %em Not provided
  - if user.phone
    .row
      .medium-4.large-2.columns
        %label Phone:
      .medium-8.large-10.columns
        %p= number_to_phone(user.phone,delimiter:'.')
  .row
    .medium-4.large-2.columns
      %label Email:
    .medium-8.large-10.columns
      %p= link_to user.email, "mailto#{user.email}"
  - if user.role? 'admin'
    .row
      .medium-4.large-2.columns
        %label Roles:
      .medium-8.large-10.columns
        %p= user.current_roles.list