- @polls.each do |poll|
  .medium-6.columns
    = link_to '#', class: 'button large expand', data: { reveal_id: poll.title.parameterize } do
      = icon 'fa-solid', 'poll fa-fw'
      Poll: #{poll.title}
      - if current_user.has_voted_in?(poll)
        %i.fa-solid.fa-check.fa-fw{ title: 'Voted' }
  .reveal-modal.medium{ data: { reveal: true }, id: poll.title.parameterize }
    .close-reveal-modal &#215;
    = form_tag vote_poll_path(poll), method: :post, style: 'max-height: 100%; overflow-y: auto;' do
      %h2.text-center= poll.title
      %p Closes at #{poll.end_time.strftime('%I:%M%P on %B')} #{poll.end_time.day.ordinalize}
      - if poll.description
        %p= poll.description
      - poll.poll_options.each do |option|
        %label{ for: "poll_option_id_#{option.id}" }
          = check_box_tag 'poll_option_id[]', option.id, current_user.poll_votes.map(&:poll_option).include?(option), id: "poll_option_id_#{option.id}"
          - if option.image.present?
            = image_tag option.image.url, style: 'max-width: 100%;'
          %h3= option.title
      .row.actions
        .column.text-right
          = submit_tag 'Vote', class: 'button'
