%section.row.register-now
  .medium-9.large-6.medium-centered.columns
    %h2.text-center You aren’t a current member!
    %p
      Let’s get that sorted out right away.
      = link_to 'Sign up here', '#'
      for a Riders membership for the
      = Date.current.year
      Revolution season. Until you do, you won’t be eligible to park
      in the Supporters’ Lot, come to Supporters-only events, or
      get discounts on Riders merchandise and traveling Supporter
      game and bus tickets. And here on the Member Portal, you won’t
      be able to do things like RevGuess and Pick ’Em, or even view the
      standings.
    .text-center
      = link_to new_user_membership_path(user), class: 'button large' do
        = icon 'fa-regular', 'credit-card fa-fw'
        Buy a
        = Date.current.year
        Membership
%hr