- count ||= 100
%h2 RevGuesses
%ul.table.rev-guesses
  .thead
    %li.tr
      .td Match
      .td.text-center RevGuess
      .td.text-center Score
      .td.text-center Points
      .td.comment Comment
  .tbody
    - user.rev_guesses.sort_by{|x| x.match.kickoff }.last(count).each do |m|
      %li.tr
        .td
          %p
            = link_to match_rev_guess_path(m.match,m) do
              = m.match.home_team.abbrv
              v
              = m.match.away_team.abbrv
              %small= m.match.kickoff.strftime('%_m.%-d')
        .td.text-center
          %p
            = m.home_goals
            –
            = m.away_goals
        .td.text-center
          %p= m.match.score
        .td.text-center
          %p= m.score
        .td.comment
          %p= m.comment
  .tfoot
    %li.tr
      .td Total
      .td
      .td
      .td.text-center= user.rev_guesses.score
      .td.comment