- content_for :title, 'Member Portal | Home'

= render partial: 'users/update_prompt'

= render 'register_now', user: current_user unless current_user.current_member? || current_user.has_family_invitation?

= render 'accept_family_invitation', user: current_user if current_user.has_family_invitation?

= render 'static_pages/jotform' if current_user.current_member? && current_user.leadership_or_admin?

.row
  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    - if current_user.current_member?
      = link_to '#', class: 'button large expand', data: { reveal_id: 'scarf-vote-modal' } do
        = icon 'check-circle'
        Final Round: Vote for 2015’s Scarf
    - if current_user.current_member? && current_user.current_membership.is_a?(Family)
      = link_to user_membership_path(current_user, current_user.current_membership), class: 'button large expand' do
        = icon 'users fa-fw'
        Manage Family Membership
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?


- if current_user.current_member?
  %section.row
    .medium-6.columns
      %ul.matches.small
        - @revs_matches.each do |match|
          = render match, small: true
    .medium-6.columns
      = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses.where(matches: { season: Date.current.year }).present?
