- content_for :title, 'Member Portal | Home'

= render partial: 'users/update_prompt'

= render 'register_now', user: current_user unless current_user.current_member?

.row
  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?


- if current_user.current_member?
  %section.row
    .medium-6.columns
      %ul.matches.small
        = render partial: 'matches/match', collection: @revs_matches, locals: { small: true }
    .medium-6.columns
      = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses

