:ruby
  should_show_scarf_vote = current_user.current_member? && Time.current < Time.zone.local(2018, 1, 11, 12)

- content_for :title, 'Member Portal | Home'

= render partial: 'users/update_prompt'
= render partial: 'users/address_prompt'

= render 'register_now', user: current_user unless current_user.current_member? || current_user.invited_to_family?

= render 'accept_family_invitation', user: current_user if current_user.invited_to_family?

= render 'static_pages/jotform' if should_show_scarf_vote

.row
  - if should_show_scarf_vote
    .medium-6.columns.right
      = link_to '#', class: 'button large expand', data: { reveal_id: 'scarf-vote-modal' } do
        = icon 'check-circle'
        Vote for 2018’s Scarf
  = render 'board_nominations'

  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    - if current_user.current_member? && current_user.current_membership.is_a?(Family)
      = link_to user_membership_path(current_user, current_user.current_membership), class: 'button large expand' do
        = icon 'users fa-fw'
        Manage Family Membership
    .row.show-for-medium-up= render 'shared/next_last_games', last_match: revs.last_match, next_match: revs.next_match
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?


- if current_user.current_member?
  %section.row
    .medium-6.columns
      %ul.matches.small
        - @revs_matches.each do |match|
          = render match, small: true
    .medium-6.columns
      = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses.where(matches: { season: Date.current.year }).present?
