- content_for :title, 'Member Portal | Home'

.row
  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?



%section.row
  .large-6.columns
    = render partial: 'clubs/rev_games', locals: { revs: @revs, revs_matches: @revs_matches }
    = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses
  .large-6.columns
    %h2.primary.ne Elsewhere this Week
    = render partial: 'matches/small', locals: { matches: @matches }
