- content_for :title, 'Home'

= render partial: 'users/update_prompt'
= render partial: 'users/address_prompt'

= render 'register_now', user: current_user unless current_user.current_member? || current_user.invited_to_family?

= render 'accept_family_invitation', user: current_user if current_user.invited_to_family?

-#= render 'static_pages/jotform' if current_user.current_member? #&& Time.current < Time.zone.local(2016,1,15,17)

.row
  -#- if current_user.current_member? # && Time.current < Time.zone.local(2016,1,15,17)
  -#  .medium-6.columns.right
  -#    = link_to '#', class: 'button large expand', data: { reveal_id: 'scarf-vote-modal' } do
  -#      = icon 'check-circle'
  -#      Vote for 2017’s Scarf
  = render 'board_nominations'

  .medium-6.columns
    %section.card= render partial: 'users/info', locals: { user: current_user }
  .medium-6.columns
    %section.show-for-medium-up.card-item= render 'shared/next_last_games', last_match: revs.last_match, next_match: revs.next_match
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?


- if current_user.current_member?
  .row
    .medium-6.columns
      - content_for :foot do
        = javascript_include_tag 'react', 'react_ujs', cache: 'react-core'
        = javascript_include_tag 'components'
      = react_component 'MatchCollection',
        { show_admin_ui: can?(:manage, Match),
          matches: ActiveModelSerializers::SerializableResource.new(@revs_matches, scope: self).serializable_hash },
        prerender: true
    .medium-6.columns
      = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses.where(matches: { season: Date.current.year }).present?
