- content_for :title, 'Member Portal | Home'

= render partial: 'users/update_prompt'

= render 'register_now', user: current_user unless current_user.current_member?

.row
  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    - if current_user.current_member? && Time.current < '2015-03-21 15:00:00 -0500'.to_time
      = link_to download_path('20150321-parking-pass.pdf'), class: 'button large expand' do
        = icon 'car fa-fw'
        Download Temporary Parking Pass
    = render 'static_pages/events', events: @events
    = render 'static_pages/blog', articles: @articles unless @articles.empty?


- if current_user.current_member?
  %section.row
    .medium-6.columns
      %ul.matches.small
        - @revs_matches.each do |match|
          = render match, small: true
    .medium-6.columns
      = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses.where(matches: { season: Date.current.year }).present?
