- content_for :title, 'Member Portal | Home'

.row
  %section.medium-6.columns
    = render partial: 'users/info', locals: { user: current_user }
  %section.medium-6.columns
    .alert-box
      %h3 Upcoming Events
      - if @events.empty?
        %h3.subheader No upcoming events
      - else
        %ul
          - @events['data'].each do |event|
            %li
              = link_to event['name'], "https://www.facebook.com/events/#{event['id']}", target: '_blank'
              - if (t = event['start_time'].to_datetime) < Time.now + 1.day
                %small{title: t.strftime('%_m.%-d.%Y %l:%M%P')}
                  = 'in ' if t > Time.now
                  = distance_of_time_in_words_to_now(t, include_seconds: true)
                  = ' ago' if t < Time.now
              - else
                %small= t.strftime('%_m.%-d.%Y %l:%M%P')
    = render partial: 'static_pages/notices'



%section.row
  .large-6.columns
    = render partial: 'clubs/rev_games', locals: { revs: @revs, revs_matches: @revs_matches }
    = render partial: 'users/rev_guesses', locals: { user: current_user } if current_user.rev_guesses
  .large-6.columns
    %h2.primary.ne Elsewhere this Week
    = render partial: 'matches/small', locals: { matches: @matches }
