- content_for :title, 'Members'

.row
  .medium-9.columns
    - if can? :manage, :users
      .alert-box
        = form_tag import_users_path, multipart: true, class: 'row' do
          .small-8.large-9.columns
            = file_field_tag :file
          .small-4.large-3.columns.text-right
            = button_tag :submit, class: 'button secondary small expand' do
              %i.fa.fa-upload.fa-fw
              Import
  .medium-3.columns.text-right
    - if can? :create, User
      = link_to new_user_path, class: 'button' do
        = icon 'plus'
        New User

.row
  .medium-3.columns
    = link_to users_path, class: "button small expand #{'success' unless @role}" do
      = icon 'users'
      All Users
  .medium-3.columns
    = link_to users_path(role: 'admin'), class: "button small expand #{'success' if @role == 'admin'}" do
      = icon 'bolt'
      Admins
  .medium-3.columns
    = link_to users_path(role: 'executive_board'), class: "button small expand #{'success' if @role == 'executive_board'}" do
      = icon 'suitcase'
      Executive Board
  .medium-3.columns
    = link_to users_path(role: [ 'executive_board', 'at_large_board' ]), class: "button small expand #{'success' if @role == ['executive_board','at_large_board']}" do
      = icon 'sitemap'
      Boards
%ul.table.members
  .thead
    %li.tr
      .thd
      .thd Member
      .thd Email
      .thd.numeric Member since
      .thd.actions

  .tbody
    - @users.each do |user|
      %li.tr
        .td.text-center
          - user.roles.each do |r|
            = content_tag(:i,'',class: 'fa fa-fw fa-' + r.name, title: r.name.titleize)
        .td
          = link_to user do
            %h5
              %strong>= user.last_name
              ,
              = user.first_name
            %h5.subheader @#{user.username}
        .td= link_to user.email, "mailto: #{user.email}"
        .td.numeric= user.member_since
        .td.text-right
          -#= link_to 'Show', user
          = link_to edit_user_path(user), class: 'button tiny', title: 'Edit' do
            = icon 'pencil'
          - if can? :destroy, user
            = link_to user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button tiny alert', title: 'Destroy' do
              = icon 'trash-o'

.row
  .small-12.text-right.columns
    = will_paginate(@users, param_name: 'p')