- content_for :title, 'Members'

%ul.table.members
  %li.tr
    .thd Member
    .thd Address
    .thd Phone
    .thd Email
    .thd Member since
    .thd Roles
    .thd.actions

  - @users.each do |user|
    %li.tr
      .td
        %h5
          %strong>= user.last_name
          ,
          = user.first_name
        %h5.subheader @#{user.username}
      .td
        = user.address
        %br
        #{user.city}, #{user.state} #{user.postal_code}
      .td= user.phone
      .td= link_to user.email, "mailto: #{user.email}"
      .td= user.member_since
      .td= user.list_roles
      .td
        -#= link_to 'Show', user
        = link_to 'Edit', edit_user_registration_path(user)
        = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_registration_path
