- content_for :title, 'Members'

.row
  .column
    %section.card
      .row
        .small-9.medium-6.columns
          - if can? :manage, :users
            = form_tag import_users_path, multipart: true, class: 'row collapse gray-background' do
              .small-10.columns
                = file_field_tag :file, class: 'no-margin-bottom'
              .small-2.columns
                = button_tag :submit, class: 'button small expand no-margin-bottom', title: 'Import' do
                  %i.fa.fa-upload.fa-fw
        .small-3.medium-1.columns
          = link_to users_path(format: 'csv', params: params.except(:action, :controller)), class: 'button secondary small expand', title: 'Download' do
            = icon 'download fa-fw'
        .small-6.medium-3.columns.text-right
          = form_tag users_path, method: :get do
            = hidden_field_tag :privilege, @privilege
            = hidden_field_tag :show_all, @show_all
            = hidden_field_tag :year, @year
            .row.collapse
              .small-8.columns
                = text_field_tag :search, params[:search]
              .small-4.columns
                = button_tag :submit, class: 'button small secondary postfix' do
                  = icon 'search fa-fw'
                  Search
        - if can? :create, User
          .small-6.medium-2.columns.text-right
            = link_to new_user_path, class: 'button small postfix' do
              = icon 'user fa-fw'
              New User

      .row.collapse
        .medium-2.columns
          = select_tag :year, options_for_select((2014..Date.current.year), @year), data: { autosubmit: users_path(params.merge(year: '___')) }
        .medium-2.columns
          = link_to users_path(year: @year), class: "button small expand #{'success' unless @privilege || @show_all}" do
            = icon 'users'
            Current Members
        .medium-2.columns
          = link_to users_path(show_all: true, year: @year), class: "button small expand #{'success' if @show_all}" do
            = icon 'list'
            All Users
        .medium-2.columns
          = link_to users_path(privilege: 'admin', year: @year), class: "button small expand #{'success' if @privilege == 'admin'}" do
            = icon 'bolt'
            Admins
        .medium-2.columns
          = link_to users_path(privilege: 'executive_board', year: @year), class: "button small expand #{'success' if @privilege == 'executive_board'}" do
            = icon 'suitcase'
            Executive Board
        .medium-2.columns
          = link_to users_path(privilege: [ 'executive_board', 'at_large_board' ], year: @year), class: "button small expand #{'success' if @privilege == ['executive_board','at_large_board']}" do
            = icon 'sitemap'
            Boards
      %table.members{ cellspacing: 0 }
        %thead
          %tr
            %th
            %th Member
            %th Email
            %th Membership Type
            %th.numeric Member since
            %th.actions

        %tbody
          - @users.each do |user|
            %tr
              %td.text-center
                = icon 'check fa-fw' if user.memberships.select{|m| m.year == @year }.present?
                - user.current_privileges.each do |r|
                  = content_tag(:i,'',class: 'fa fa-fw fa-' + r, title: r.titleize)
              %td
                = link_to user do
                  %h5
                    %strong>= user.last_name
                    ,
                    = user.first_name
                    %small @#{user.username}
              %td= link_to user.email, "mailto: #{user.email}"
              %td= user.current_membership.try(&:type)
              %td.numeric= user.member_since
              %td.text-right
                -#= link_to 'Show', user
                = link_to edit_user_path(user), class: 'button tiny', title: 'Edit' do
                  = icon 'pencil'
                - if can? :destroy, user
                  = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert', title: 'Destroy' do
                    = icon 'trash-o'

      .row
        .medium-4.columns
          %p
            %strong Total:
            = @user_set.size
        .medium-8.columns.text-right
          = will_paginate(@users, param_name: 'p', inner_window: 2, outer_window: 2)
