- content_for :title do
  = @user.first_name
  %strong=  @user.last_name
  %small @#{@user.username}

%p
  %b Address:
  = @user.address
  %br
  #{@user.city},
  = @user.state
  = @user.postal_code
%p
  %b Phone:
  = @user.phone
%p
  %b Email:
  = link_to @user.email, "mailto#{@user.email}"
%p
  %b Member since:
  = @user.member_since
%p
  %b Roles:
  = @user.list_roles

= link_to 'Edit', edit_user_registration_path(@user)
\|
= link_to 'Back', users_path
