= form_for @pick_em do |f|
  - if @pick_em.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pick_em.errors.count, "error")} prohibited this pick_em from being saved:"
      %ul
        - @pick_em.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :match
    = f.text_field :match
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :result
    = f.number_field :result
  .actions
    = f.submit 'Save'
