.row
  .medium-10.medium-centered.large-8.columns
    %h2 Sign in
    = form_for(resource, as: resource_name, url: main_app.new_user_session_path) do |f|
      .row
        .medium-4.columns
          = f.label :username, class: 'inline'
        .medium-8.columns
          = f.text_field :username, autofocus: true, autocapitalize: 'off', autocorrect: 'off'
      .row
        .medium-4.columns
          = f.label :password, class: 'inline' do
            = resource.class.human_attribute_name(:password)
            %br
            %small
        .medium-8.columns
          = f.password_field :password
      - if devise_mapping.rememberable?
        .row
          .medium-8.columns.right
            = f.check_box :remember_me
            = f.label :remember_me
      .row.actions
        .medium-4.columns.text-right
          %label.inline= link_to 'Forgot your password?', main_app.new_user_password_path, class: 'underline'
        .small-6.medium-4.columns
          = link_to main_app.new_user_registration_path, class: 'button small secondary expand' do
            = fa_icon 'pencil'
            Sign Up
        .small-6.medium-4.columns
          = f.button :submit, class: 'button small expand' do
            Sign in
            = fa_icon 'arrow-right fw'
    %p.text-center.small
      Trouble logging in? Visit the
      = link_to 'FAQ', main_app.faq_path
