= form_for @player do |f|
  .row
    .medium-4.columns
      = f.label :number
    .medium-8.columns
      = f.number_field :number
  .row
    .medium-6.columns
      = f.label :first_name
      = f.text_field :first_name
    .medium-6.columns
      = f.label :last_name
      = f.text_field :last_name
  .row
    .medium-4.columns
      = f.label :club_id
    .medium-8.columns
      = f.select :club_id, options_for_select(Club.all.order(name: :asc).map{|x| [x.name,x.id]},f.object.club_id)
  .row
    .medium-4.columns
      = f.label :position
    .medium-8.columns
      = f.select :position, options_for_select(Player::POSITIONS.map{|k,v| [k, k] },f.object.position)
  .row
    .column
      = f.check_box :active
      = f.label :active
  .row.actions
    .column
      = f.button :submit do
        Save
