= form_for @player do |player_form|
  = player_form.hidden_field :club_id
  .row
    .medium-4.columns
      = player_form.label :number
    .medium-8.columns
      = player_form.number_field :number
  .row
    .medium-6.columns
      = player_form.label :first_name
      = player_form.text_field :first_name
    .medium-6.columns
      = player_form.label :last_name
      = player_form.text_field :last_name
  .row
    .medium-4.columns
      = player_form.label :position
    .medium-8.columns
      = player_form.select :position, options_for_select(Player::POSITIONS.map{|k,v| [k, k] },player_form.object.position)
  .row
    .column
      = player_form.check_box :active
      = player_form.label :active
  .row.actions
    .column
      = player_form.button :submit do
        Save
