.tr
  .td.numeric= player.number
  .td
    = link_to player do
      = player.first_name
      %strong= player.last_name
  .td.text-center= player.club.abbrv
  .td.text-center= player.position
  .td.text-right
    - if can? :edit, player
      = link_to edit_player_path(player), class: 'button tiny' do
        %i.fa.fa-pencil.fa-fw
        Edit
    - if can? :destroy, player
      = link_to player, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button alert tiny' do
        %i.fa.fa-trash-o.fa-fw
        Destroy