= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :home_team_id
    = f.number_field :home_team_id
  .field
    = f.label :away_team_id
    = f.number_field :away_team_id
  .field
    = f.label :kickoff
    = f.datetime_select :kickoff
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :home_goals
    = f.number_field :home_goals
  .field
    = f.label :away_goals
    = f.number_field :away_goals
  .actions
    = f.submit 'Save'
