= form_for @match do |f|
  - if @match.errors.any?
    #error_explanation
      %h2= "#{pluralize(@match.errors.count, 'error')} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-8.columns.right
      .row
        .medium-6.columns
          = f.label :home_team_id
          = f.select :home_team_id, options_for_select(Club.all.map{|c| [c.name,c.id] },f.object.home_team_id)
        .medium-6.columns
          = f.label :away_team_id
          = f.select :away_team_id, options_for_select(Club.all.map{|c| [c.name,c.id] },f.object.away_team_id)
  .row
    .large-4.columns
      = f.label :kickoff
    .large-8.columns
      .row
        .small-6.columns
          = f.text_field :kickoff_date, value: f.object.kickoff.try(:to_date), type: 'date'
        .small-6.columns
          = f.text_field :kickoff_time, value: f.object.kickoff.try(:strftime, '%H:%M'), type: 'time'
  .row
    .large-4.columns
      = f.label :location
    .large-8.columns
      = f.text_field :location
  .row
    .large-8.columns.right
      .row
        .small-6.columns
          = f.label :home_goals
          = f.number_field :home_goals, pattern: '\d*', min: 0, max: 50
        .small-6.columns
          = f.label :away_goals
          = f.number_field :away_goals, pattern: '\d*', min: 0, max: 50
  .row.actions
    .column.text-right
      = f.button :submit, class: 'button' do
        = icon 'fa-regular', 'check'
        = f.object.new_record? ? 'Create' : 'Update'
