- long ||= false
.tr{ class: ('highlight' if match.teams.include? revs )}
  .td
    = render partial: 'pick_ems/buttons', locals: { match: match }
  .td{ class: ('highlight' if match.away_team == revs)}
    %p
      %strong= link_to match.home_team.name, match.home_team, class: 'primary ' + match.home_team.abbrv.downcase
      %small{ title: 'W-L-D' } (#{match.home_team.record})
      vs
      %strong= link_to match.away_team.name, match.away_team, class: 'primary ' + match.away_team.abbrv.downcase
      %small{ title: 'W-L-D' } (#{match.away_team.record})
  .td.text-center
    = link_to match, title: 'Show' do
      = match.kickoff.strftime('%_m.%-d %l:%M%P')
    - if can? :edit, match
      = link_to edit_match_path(match), title: 'Edit' do
        = icon('pencil','',class:'fa-fw')
    - if can? :destroy, match
      = link_to match, method: :delete, data: { :confirm => 'Are you sure?' }, title: 'Destroy' do
        = icon('trash-o','',class:'fa-fw')
  .td.text-center
    = match.score
  .td.text-right
    .button-group
      - if match.teams.include? revs
        = link_to(content_tag(:i,'',class: 'fa fa-list-ol fa-fw') + content_tag(:span,' MotM'), mot_m_path_for(match), class: 'button tiny secondary expand') if match.voteable?
        = link_to(content_tag(:i,'',class: 'fa fa-question fa-fw') + content_tag(:span,' RevGuess'), rev_guess_path_for(match), class: 'button tiny secondary expand') if match.in_future?