- match = match.decorate
- small ||= false
%li.match{ class: "#{'pending' unless match.complete?} #{'highlight' if match.teams.include?(revs) && !small }"}
  %time{ datetime: match.kickoff.xmlschema }
    = link_to match do
      = match.kickoff.strftime('%_m.%-d %l:%M%P')
      = fa_icon 'arrow-circle-right fw'
  .score
    - unless match.in_future?
      = match.home_team.abbrv if match.complete?
      = match.score
      = match.away_team.abbrv if match.complete?
  .pick-em
    = match.pick_em_buttons
    = match.pick_em_sub
  .location
    = match.location
  - if match.teams.include? revs
    = match.rev_guess_button('small expand') if match.in_future?
    = match.mot_m_button('small expand') if match.voteable?
