- match = match.decorate
- small ||= false
%li.match{ class: "#{'pending' unless match.complete?} #{'highlight' if match.teams.include?(revs) && !small }"}
  %time{ datetime: match.kickoff.xmlschema }
    = link_to match do
      = match.kickoff.strftime('%_m.%-d %l:%M%P')
      = icon 'arrow-circle-right fa-fw'
  .score
    - unless match.in_future?
      = match.home_team.abbrv if match.complete?
      = match.score
      = match.away_team.abbrv if match.complete?
  .pick-em
    = match.pick_em_buttons
    = match.pick_em_sub
  .location
    = match.location
  - if match.teams.include? revs
    = link_to(icon('list-ol fa-fw') + ' MotM', mot_m_path_for(match), class: 'button small secondary expand') if match.voteable?
    = link_to(icon('question fa-fw') + ' RevGuess' + (": #{rev_guess_for(match)[1].predicted_score}" if rev_guess_for(match)), rev_guess_path_for(match), class: 'button small secondary expand') if match.in_future?