.table
  .thead
    .tr
      .td.text-center
        = icon 'fa-regular', 'certificate'
        Pick ’Em
      .td Match / time
  - matches.each do |m|
    - m = m.decorate
    .tr
      .td.small-6.columns.text-right
        = m.pick_em_buttons
      .td.small-6.columns.secondary-border.border-left{class: m.home_team.abbrv.downcase}
        = link_to m do
          = m.home_team.abbrv
          %small{ title: 'W-L-D' } (#{m.away_team.record})
          v
          = m.away_team.abbrv
          %small{ title: 'W-L-D' } (#{m.away_team.record})
          - if m.complete?
            = surround '(', ')' do
              = m.score
          %small
            %br
            = succeed ',' do
              = m.kickoff.strftime('%_m.%-d %l:%M%P')
            = m.location