- content_for :title, 'Match listings for the week of' + @start_date.strftime('%_m.%-d.%Y')

.row.actions
  .medium-6.columns
    = link_to matches_path(date: @start_date - 7.days), class: 'button secondary small' do
      &laquo;
      Previous Week
    - if @start_date != Date.today.beginning_of_week
      = link_to 'This Week', matches_path, class: 'button small'
    = link_to matches_path(date: @start_date + 7.days), class: 'button secondary small' do
      Next Week
      &raquo;
  .medium-6.columns.text-right
    - if can? :manage, Match
      = link_to import_matches_path, class: 'button secondary small' do
        Import/Update Matches
    = link_to new_match_path, class: 'button small' do
      New Match

.table
  .tr
    .thd
    .thd Home team
    .thd Away team
    .thd Kickoff
    .thd.text-center Location
    .thd.text-center Score
    .thd

  - @matches.each do |match|
    .tr{ class: ('highlight' if revs.matches.include? match )}
      .td
        = link_to match, title: 'Show' do
          %i.fi-eye
        - if can? :edit, match
          = link_to edit_match_path(match), title: 'Edit' do
            %i.fi-pencil
        - if can? :destroy, match
          = link_to match, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Destroy' do
            %i.fi-trash
      .td{ class: ('highlight' if match.home_team == revs)}= match.home_team.name
      .td{ class: ('highlight' if match.away_team == revs)}= match.away_team.name
      .td.text-center= match.kickoff.strftime('%_m.%-d %l:%M%P')
      .td= match.location
      .td.text-center
        = match.score
      .td.text-right
        .button-group
          - if revs.matches.include? match
            = link_to 'MotM', mot_m_path_for(match), class: 'button tiny secondary'
            = link_to 'RevGuess', '#', class: 'button tiny secondary'
            = link_to 'Pick ’Em', '#', class: 'button tiny secondary'
          - else
            = link_to 'Pick ’Em', '#', class: 'button tiny'
