- content_for :title, 'Match listings for the week of ' + @start_date.strftime('%_m.%-d.%Y')

.row.actions
  .medium-4.columns.text-left
    %ul.button-group
      %li
        = link_to matches_path(date: @start_date.to_date - 7.days), class: 'button secondary tiny' do
          = icon 'arrow-circle-o-left fa-fw'
          Previous Week
      - unless @start_date == Time.current.beginning_of_week
        %li
          = link_to matches_path, class: 'button tiny' do
            = icon 'calendar-o fa-fw'
            This Week
      %li
        = link_to matches_path(date: @start_date.to_date + 7.days), class: 'button secondary tiny' do
          Next Week
          = icon 'arrow-circle-o-right fa-fw'
  - if can? :manage, Match
    .medium-8.columns.text-right
      .row
        .medium-8.columns
          = form_tag import_matches_path, class: 'row collapse' do
            .small-8.columns
              = text_field_tag :url, 'http://e-qo.de/9lts.ics'
            .small-4.columns
              = button_tag :submit, class: 'button secondary postfix' do
                = icon 'cloud-download fa-fw'
                Import/Update Matches
        .medium-4.columns
          = link_to new_match_path, class: 'button tiny expand' do
            = icon 'calendar fa-fw'
            New Match

- if @matches.present?
  %ul.matches
    = render @matches
- else
  .alert-box
    %h2.text-center No matches scheduled this week

