- content_for :title, 'Match Listings'

.row.actions
  .small-12.columns.text-right
    = link_to new_match_path, class: 'button' do
      New Match

.table
  .tr
    .thd Home team
    .thd Away team
    .thd Kickoff
    .thd Location
    .thd Score
    .thd

  - @matches.each do |match|
    .tr
      .td{ class: ('highlight' if match.home_team == revs)}= match.home_team.name
      .td{ class: ('highlight' if match.away_team == revs)}= match.away_team.name
      .td.text-center= match.kickoff.strftime('%_m.%-d %l:%M%P')
      .td= match.location
      .td.text-center
        = match.score
      .td
        = link_to 'Show', match
        = link_to 'MotM', new_match_mot_m_path(match)
        - if can? :edit, match
          = link_to 'Edit', edit_match_path(match)
        - if can? :destroy, match
          = link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }
