- content_for :title, 'Match listings for the week of ' + @start_date.strftime('%_m.%-d.%Y')

.row.actions
  .medium-5.columns.text-left
    %ul.button-group
      %li
        = link_to matches_path(date: @prev_date), class: 'button secondary small' do
          = icon 'arrow-circle-o-left fa-fw'
          = @prev_link
      - unless @start_date == Time.current.beginning_of_week
        %li
          = link_to matches_path, class: 'button small' do
            = icon 'calendar-o fa-fw'
            This Week
      %li
        = link_to matches_path(date: @next_date), class: 'button secondary small' do
          = @next_link
          = icon 'arrow-circle-o-right fa-fw'
  - if can? :manage, Match
    .medium-7.columns.text-right
      .row
        .medium-6.columns
          = form_tag import_matches_path, class: 'row collapse' do
            .small-8.columns
              = text_field_tag :url, 'http://e-qo.de/9lts.ics'
            .small-4.columns
              = button_tag :submit, class: 'button secondary postfix' do
                = icon 'cloud-download fa-fw'
                Import/Update Matches
        .medium-6.columns
          = link_to new_match_path, class: 'button small expand' do
            = icon 'calendar fa-fw'
            New Match

- if @matches.present?
  .row
    .medium-9.medium-centered.columns
      %h2 Matches for the week of #{@start_date.strftime('%_m.%-d.%Y')}
  %ul.matches
    = render @matches
- else
  .alert-box
    %h2.text-center No matches scheduled this week

