- content_for :foot do
  = javascript_include_tag 'react', 'react_ujs', cache: 'react-core'
  = javascript_include_tag 'components'

- content_for :title, 'Match listings for the week of ' + @start_date.strftime('%_m.%-d.%Y')

= react_component 'MatchesIndex', @match_index, prerender: true

- if can? :manage, Match
  #matches-admin.reveal-modal.small{ data: { reveal: true } }
    %a.close-reveal-modal{ href: '#' } &times;
    %h2 Matches Admin
    .row
      = form_tag import_matches_path, class: 'row collapse' do
        .medium-4.columns
          = label_tag :url, 'Import/Update Matches'
        .medium-8.columns
          .small-8.columns
            = text_field_tag :url, 'http://ics.ecal.com/ecal-sub/587a65961406256574913027/Major%20League%20Soccer.ics'
          .small-4.columns
            = button_tag :submit, class: 'button secondary postfix', title: 'Import/Update Matches' do
              = icon 'cloud-download fa-fw'
    .row
      = form_tag bulk_update_matches_path, class: 'row collapse', multipart: true, method: :post do
        .medium-4.columns
          %label
            Batch Update Results
            %small.hint{ title: "CSV should be in the following format:\nDate,Home,Away,HG,AG\n6/12,NE,CLB,1,3" } ?
        .medium-8.columns
          .small-8.columns
            = file_field_tag :file
          .small-4.columns
            = button_tag :submit, class: 'button secondary postfix', title: 'Upload' do
              = icon 'upload fa-fw'
    .row
      .medium-8.columns.right
        = link_to auto_update_matches_path, class: 'button small secondary expand' do
          = icon 'refresh fa-fw'
          Automated Results Update
    .row
      .medium-8.columns.right
        = link_to new_match_path, class: 'button small expand' do
          = icon 'calendar fa-fw'
          New Match
