- content_for :title, 'Match listings for the week of ' + @start_date.strftime('%_m.%-d.%Y')

.row.actions
  .medium-8.columns{ class: ('medium-centered' unless can?(:manage, Match)) }
    %ul.button-group
      - if @prev_date
        %li{ class: "small-#{@is_current_week ? '6' : '4'}" }
          = link_to matches_path(date: @prev_date), class: 'button secondary small expand' do
            = icon 'fa-solid', 'circle-arrow-left fa-fw'
            = @prev_link
      - unless @is_current_week
        %li.small-4
          = link_to matches_path, class: 'button small expand' do
            = icon 'fa-regular', 'calendar fa-fw'
            This Week
      - if @next_date
        %li{ class: "small-#{@is_current_week ? '6' : '4'}" }
          = link_to matches_path(date: @next_date), class: 'button secondary small expand' do
            = @next_link
            = icon 'fa-solid', 'circle-arrow-right fa-fw'
  - if can? :manage, Match
    .medium-4.columns.text-right
      = link_to '#', class: 'button small expand', data: { reveal_id: 'matches-admin' } do
        = icon 'fa-solid', 'bolt fa-fw'
        Admin
      #matches-admin.reveal-modal.small{ data: { reveal: true } }
        %a.close-reveal-modal{ href: '#' } &times;
        %h2 Matches Admin
        .row
          .medium-8.columns.right
            = link_to sync_matches_path, class: 'button small secondary expand' do
              = icon 'fa-solid', 'refresh fa-fw'
              Sync Fixtures/Results
        .row
          .medium-8.columns.right
            = link_to new_match_path, class: 'button small expand' do
              = icon 'fa-regular', 'calendar fa-fw'
              New Match

- if @matches.present?
  .row
    .large-3.columns
      %h2 Matches for the week of #{@start_date.strftime('%_m.%-d.%Y')}
      .show-for-medium-up
        %p Make your <strong>Pick ’Em</strong> picks by clicking on the crest of the team you expect to win, or D for Draw.
        %p To submit your <strong>RevGuess</strong>, click on the button underneath any Revs game before kickoff.
        %p
          And don’t forget to come back after every game to vote for your Man of the Match –
          voting for <strong>Man of the Match</strong> is tallied at the end of every year for the Riders’ annual
          <a href="https://www.midnightriders.com/events-awards/man-of-the-year-award/">Man of the Year</a> award.
    .large-9.columns
      %ul.matches
        = render @matches
- else
  .alert-box
    %h2.text-center No matches scheduled this week

