- content_for :title, 'Match listings for the week of' + @start_date.strftime('%_m.%-d.%Y')

.row.actions
  .medium-6.columns
    = link_to matches_path(date: @start_date - 7.days), class: 'button secondary small' do
      = icon 'arrow-circle-o-left'
      Previous Week
    - if @start_date != Date.today.beginning_of_week
      = link_to matches_path, class: 'button small' do
        = icon 'calendar-o'
        This Week
    = link_to matches_path(date: @start_date + 7.days), class: 'button secondary small' do
      Next Week
      = icon 'arrow-circle-o-right'
  .medium-6.columns.text-right
    - if can? :manage, Match
      = link_to import_matches_path, class: 'button secondary small' do
        = icon 'cloud-download'
        Import/Update Matches
      = link_to new_match_path, class: 'button small' do
        = icon 'plus'
        New Match

.table
  .tr
    .thd
      = icon 'certificate'
      Pick ’Em
    .thd Match
    .thd Kickoff
    .thd.text-center Score
    .thd.text-center
      = icon 'star'
      Games

  = render partial: 'match', collection: @matches

