.row
  .small-6.medium-3.large-2.columns
    - if @match.previous
      = link_to @match.previous, class: "button tiny expand primary-bg #{@match.previous.home_team.abbrv.downcase}" do
        = icon 'arrow-left'
        = @match.previous.home_team.abbrv
        v
        = @match.previous.away_team.abbrv
        = @match.previous.kickoff.strftime('%_m.%-d')
  .small-6.medium-3.large-2.columns.right
    - if @match.next
      = link_to @match.next, class: "button tiny expand primary-bg #{@match.next.home_team.abbrv.downcase}" do
        = @match.next.home_team.abbrv
        v
        = @match.next.away_team.abbrv
        = @match.next.kickoff.strftime('%_m.%-d')
        = icon 'arrow-right'
.row.collapse
  .small-12.medium-5.large-5.columns
    %h2.primary-bg.secondary-border.border-bottom.thick.text-right{ class: @match.home_team.abbrv.downcase }
      %small{ title: 'W-L-D' } (#{@match.home_team.record})
      = @match.home_team.name
  .small-12.medium-2.columns.text-center
    %h2= @match.score
  .small-12.medium-5.large-5.columns
    %h2.primary-bg.secondary-border.border-bottom.thick{ class: @match.away_team.abbrv.downcase }
      = @match.away_team.name
      %small{ title: 'W-L-D' } (#{@match.away_team.record})
.row
  .small-12.medium-8.columns
    %h3.subheader
      = @match.kickoff.strftime('%A, %_m.%-d.%Y at %l:%M%P %Z')
      at
      = @match.location
  .small-12.medium-4.columns.right.text-right
    - if @match.kickoff.future?
      = link_to rev_guess_path_for(@match), class: 'button tiny' do
        = icon 'question'
        RevGuess
    - elsif @match.kickoff + 45.minutes < Time.now && @match.teams.include?(revs)
      = link_to mot_m_path_for(@match), class: 'button tiny' do
        = icon 'list-ol'
        = (mot_m_for(@match) ? 'Change' : 'Cast')
        MotM Vote
    - if can? :edit, @match
      = link_to edit_match_path(@match), class: 'button secondary tiny' do
        = icon 'pencil'
        Edit


.row
  .medium-8.large-6.medium-centered.columns
    %h2 Pick ’Ems
    - picks = @match.pick_ems.count
    - home_picks = @match.pick_ems.where(result: PickEm::RESULTS[:home]).count
    - draw_picks = @match.pick_ems.where(result: PickEm::RESULTS[:draw]).count
    - away_picks = @match.pick_ems.where(result: PickEm::RESULTS[:away]).count
    - if picks > 0
      .table.pick-em-results
        .tr
          - if home_picks > 0
            .td.primary-bg.text-center{ class: @match.home_team.abbrv.downcase, style: "width:#{(home_picks.to_f/picks) * 100}%" }
              = @match.home_team.abbrv
              %small
                (#{home_picks}/#{picks})
          - if draw_picks > 0
            .td.text-center{ style: "width: #{(draw_picks.to_f/picks) * 100}%" }
              D
              %small
                (#{draw_picks}/#{picks})
          - if away_picks > 0
            .td.primary-bg.text-center{ class: @match.away_team.abbrv.downcase, style: "width: #{(away_picks.to_f/picks) * 100}%" }
              = @match.away_team.abbrv
              %small
                (#{away_picks}/#{picks})
    - else
      %h4 No picks yet


    - if @match.teams.include?(revs)
      %h3 Man of the Match Standings
      %ul.table
        - if @motm_players.empty?
          %li.tr
            .td No votes cast yet
        - else
          .thead
            %li.tr
              .thd
              .thd Player
              .thd.numeric 1
              .thd.numeric 2
              .thd.numeric 3
          - place = 0
          - last = nil
          - @motm_players.each do |mot_m|
            %li.tr
              .td.numeric= last == mot_m.mot_m_total ? '' : (place += 1)
              .td
                = mot_m.first_name
                %strong= mot_m.last_name
              .td= mot_m.motm_firsts.length
              .td= mot_m.motm_seconds.length
              .td= mot_m.motm_thirds.length
      %h3 RevGuesses
      %ul.table
        .thead
          %li.tr
            .thd User
            .thd Score
            .thd Comment
        - @match.rev_guesses.sort_by{|r| r.user.username}.each do |r|
          %li.tr
            .td= link_to r.user.username, r.user
            .td.text-center
              %strong
                = r.home_goals
                \–
                = r.away_goals
            .td= r.comment