.row.actions
  .small-12.columns.text-right
    - if motm = @match.mot_ms.find_by(user_id: current_user.id)
      = link_to 'Change MotM Vote', [@match, motm], class: 'button'
    - else
      = link_to 'Cast MotM Vote', new_match_mot_m_path(@match), class: 'button'
    - if can? :edit, @match
      = link_to 'Edit', edit_match_path(@match), class: 'button secondary'
%p
  %b Home team:
  = @match.home_team.name
%p
  %b Away team:
  = @match.away_team.name
%p
  %b Kickoff:
  = @match.kickoff
%p
  %b Location:
  = @match.location
%p
  %b Score:
  = @match.score
