.row.actions
  .small-12.columns.text-right
    = link_to (mot_m_for(@match) ? 'Change' : 'Cast') + ' MotM Vote', mot_m_path_for(@match), class: 'button'
    - if can? :edit, @match
      = link_to 'Edit', edit_match_path(@match), class: 'button secondary'
%p
  %b Home team:
  = @match.home_team.name
%p
  %b Away team:
  = @match.away_team.name
%p
  %b Kickoff:
  = @match.kickoff
%p
  %b Location:
  = @match.location
%p
  %b Score:
  = @match.score

%ul.table
  - if @mot_ms.empty?
    %li.thead
      .tr
        .td Man of the Match Standings
      %li.tr
        %td No votes cast yet
  - else
    .thead
      %li.tr
        .td Player
        .td.numeric 1
        .td.numeric 2
        .td.numeric 3
    - @mot_ms.each do |mot_m|
      %li.tr
        .td
          = mot_m.first_name
          %strong= mot_m.last_name
        .td= mot_m.motm_firsts.length
        .td= mot_m.motm_seconds.length
        .td= mot_m.motm_thirds.length