%footer.page-footer
  = yield(:footer)
  %nav.text-center
    = link_to 'Frequently Asked Questions', faq_path
    = link_to 'Contact Us', contact_path
    - unless current_user
      = link_to 'Sign Up', new_user_registration_path
      = link_to 'Sign In', new_user_session_path
  %p.text-center
    Copyright ©1995 – #{Time.current.year}, Midnight Riders. MLS and club logos are copyright their respective owners.
    = link_to 'Webmaster', 'mailto:webczar+membersite@midnightriders.com'