%header.page-header.row
  .medium-8.columns
    %h1
      = link_to 'Midnight Riders', root_path
      %small
        Member Portal
        %em Beta
    = content_tag(:h2, yield(:title), class: 'subheader') if content_for?(:title)
    = yield(:header)
  .medium-4.columns.text-right.next-game
    %h5 Next Game:
    - if @next_revs_match
      %h3
        %small
          = @next_revs_match.kickoff.strftime('%A')
          –
        = @next_revs_match.kickoff.strftime('%_m.%-d | %l:%M%P')
      %h5.subheader
        - if @next_revs_match.home_team == revs
          = @next_revs_match.away_team.name
        - else
          = @next_revs_match.home_team.name
        |
        = @next_revs_match.location
    - else
      %h3 None Scheduled