%header.page-header.row
  .medium-8.columns
    %h1
      = link_to 'Midnight Riders', root_path
    %h4.subheader
      Member Portal
      \|
      = yield :title if content_for?(:title)
  .medium-4.columns.text-right.next-game.show-for-medium-up
    %h5 Next Game:
    - if @next_revs_match
      - @opponent = (@next_revs_match.teams - [ @revs ]).first
      = link_to @next_revs_match do
        .next-club.right.secondary-bg.primary-border{ class: @opponent.abbrv.downcase }
          = image_tag @opponent.crest.url(:thumb), title: @opponent.name
        %h5.subheader
          = @next_revs_match.kickoff.strftime('%A,')
          = @next_revs_match.kickoff.strftime('%_m.%-d, %l:%M%P')
          %br
          = @next_revs_match.location
    - else
      %h5 None Scheduled
