.contain-to-grid.sticky
  %nav.top-bar{ data: { topbar: true, options: 'scrolltop: false' }}
    %ul.title-area
      %li.name
        %h1= link_to 'Midnight Riders', root_path
      %li.toggle-topbar.menu-icon
        %a{ href: '#' } Menu

    %section.top-bar-section
      %ul.left
        %li.has-dropdown
          %a
            = icon 'external-link-square fa-fw'
            Sites
          %ul.dropdown
            %li
              = link_to 'http://MidnightRiders.com', target: '_blank' do
                %small.right= icon 'external-link'
                = icon 'link fa-fw'
                Riders Website
            %li
              = link_to 'http://midnightriders.com/shop', target: '_blank' do
                %small.right= icon 'external-link'
                = icon 'shopping-cart fa-fw'
                Shop
            %li
              %label Social
            %li.has-dropdown
              %a
                = icon 'facebook fa-fw'
                Facebook
              %ul.dropdown
                %li
                  = link_to 'https://www.facebook.com/groups/419730744829118/', target: '_blank' do
                    = icon 'external-link fa-fw'
                    Facebook Group
                %li
                  = link_to 'https://facebook.com/MidnightRiders', target: '_blank' do
                    = icon 'external-link fa-fw'
                    Facebook Page
            %li
              = link_to 'http://twitter.com/MidnightRiders', target: '_blank' do
                %small.right= icon 'external-link'
                = icon 'twitter fa-fw'
                Twitter
            %li
              %label Other
            %li
              = link_to 'http://revolutionsoccer.net', target: '_blank' do
                = icon 'bookmark fa-fw'
                Revolution Website
                %small= icon 'external-link'
            %li.has-dropdown
              %a
                = icon 'beer fa-fw'
                Partner Pubs
              %ul.dropdown
                %li
                  = link_to 'http://bansheeboston.com', target: '_blank' do
                    = icon 'external-link fa-fw'
                    The Banshee
                    %small Dorchester, MA
                %li
                  = link_to 'http://parlorsportsbar.com', target: '_blank' do
                    = icon 'external-link fa-fw'
                    Parlor Sports
                    %small Somerville, MA
            %li.has-dropdown
              %a
                = icon 'reddit fa-fw'
                Reddit
              %ul.dropdown
                %li
                  = link_to 'http://reddit.com/r/newenglandrevolution', target: '_blank' do
                    = icon 'external-link fa-fw'
                    Revolution Subreddit
                %li
                  = link_to 'http://reddit.com/r/mls', target: '_blank' do
                    = icon 'external-link fa-fw'
                    MLS Subreddit

          - if user_signed_in?
            %li
              = link_to user_home_url do
                = icon 'home fa-fw'
                Home
      %ul.right
        - if user_signed_in?
          - if current_user.current_member?
            %li
              = link_to matches_url do
                = icon 'list fa-fw'
                Matches
            %li.has-dropdown
              = link_to '#' do
                = icon 'star fa-fw'
                Games
              %ul.dropdown
                %li
                  = link_to standings_path do
                    = icon 'trophy fa-fw'
                    Standings
                %li
                  = link_to 'http://fantasy.mlssoccer.com/my-leagues/173/join/?autojoin-code=978-173', target: '_blank' do
                    = icon 'users fa-fw'
                    MLS Fantasy
                    %small= icon 'external-link'
                %li
                  %label Other Fantasy
                %li
                  = link_to 'http://fantasy.premierleague.com/my-leagues/194763/join/?autojoin-code=797105-194763', target: '_blank' do
                    = icon 'users fa-fw'
                    EPL Fantasy
                    %small= icon 'external-link'
                -#%li
                  = link_to 'http://bracket.mlssoccer.com/og_objects/wcbracket/groups/107?join_key=eqwfoi310asdofijwe&action=join', target: '_blank' do
                    = icon 'globe fa-fw'
                    World Cup Bracket
                - if current_user.privilege?('admin') || current_user.privilege?('executive_board')
                  %li
                    %label Admin
                  %li
                    = link_to mot_ms_path do
                      = icon 'list-ol fa-fw'
                      MotY Rankings

          %li
            = link_to edit_user_registration_path(current_user) do
              = icon 'user fa-fw'
              My Account
          - if current_user.current_member? && (current_user.privilege?('admin') || current_user.privilege?('executive_board'))
            %li.has-dropdown
              %a{ title: 'Admin' }
                = icon 'bolt fa-fw'
                &nbsp;
              %ul.dropdown
                - if can? :view, :users
                  %li
                    = link_to users_path do
                      = icon 'users fa-fw'
                      Users
                %li
                  = link_to clubs_path do
                    = icon 'shield fa-fw'
                    Clubs
                - if can? :view, :players
                  %li
                    = link_to players_path do
                      = icon 'list fa-fw'
                      Players
          %li.has-form.text-right
            = button_to destroy_user_session_path, method: :delete, class: 'button secondary' do
              %i.fa.fa-power-off.fa-fw
              Sign Out
        - else
          -# %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path