.contain-to-grid.sticky
  %nav.top-bar{ data: { topbar: true, options: 'scrolltop: false' }}
    %ul.title-area
      %li.name
        %h1= link_to 'Midnight Riders', root_path
      %li.toggle-topbar.menu-icon
        %a{ href: '#' }<>
          %span Menu

    %section.top-bar-section
      %ul.left
        %li.has-dropdown
          %a{ href: '#' }
            = icon 'external-link-square fa-fw'
            Sites
          %ul.dropdown
            %li.external
              = link_to 'http://MidnightRiders.com', target: '_blank' do
                = icon 'link fa-fw'
                Riders Website
            %li.external
              = link_to 'http://midnightriders.com/shop', target: '_blank' do
                = icon 'shopping-cart fa-fw'
                Shop
            %li
              %label Social
            %li.has-dropdown
              %a{ href: '#' }
                = icon 'facebook fa-fw'
                Facebook
              %ul.dropdown
                %li.external
                  = link_to 'https://www.facebook.com/groups/midnightriders2016/', target: '_blank' do
                    Facebook Group
                %li.external
                  = link_to 'https://facebook.com/MidnightRiders', target: '_blank' do
                    Facebook Page
            %li.external
              = link_to 'http://twitter.com/MidnightRiders', target: '_blank' do
                = icon 'twitter fa-fw'
                Twitter
            %li
              %label Other
            %li.external
              = link_to 'http://revolutionsoccer.net', target: '_blank' do
                = icon 'bookmark fa-fw'
                Revolution Website
            %li.has-dropdown
              %a{ href: '#' }
                = icon 'beer fa-fw'
                Partner Pubs
              %ul.dropdown
                %li.external
                  = link_to 'http://bansheeboston.com', target: '_blank' do
                    The Banshee
                    %small Dorchester, MA
                %li.external
                  = link_to 'http://parlorsportsbar.com', target: '_blank' do
                    Parlor Sports
                    %small Somerville, MA
                %li.external
                  = link_to 'http://britishbeer.com/', target: '_blank' do
                    British Beer Company
                    %small Multiple Locations, MA
                %li.external
                  = link_to 'http://www.the-rumbleseat.com/', target: '_blank' do
                    The Rumbleseat
                    %small Chicopee, MA
                %li.external
                  = link_to 'http://www.bisoncounty.com/', target: '_blank' do
                    Bison County
                    %small Waltham, MA
            %li.has-dropdown
              %a{ href: '#' }
                = icon 'star fa-fw'
                Other Partners
              %ul.dropdown
                %li.external
                  = link_to 'http://topshelfcookies.com/', target: '_blank' do
                    Top Shelf Cookies
                    %small Quincy, MA
                    - if user_signed_in? && current_user.current_member?
                      %br
                      15% Off Code: THEFORT
            %li.has-dropdown
              %a{ href: '#' }
                = icon 'reddit fa-fw'
                Reddit
              %ul.dropdown
                %li.external
                  = link_to 'http://reddit.com/r/newenglandrevolution', target: '_blank' do
                    Revolution Subreddit
                %li.external
                  = link_to 'http://reddit.com/r/mls', target: '_blank' do
                    MLS Subreddit

          - if user_signed_in?
            %li
              = link_to user_home_path do
                .show-for-medium-up
                  = icon 'home fa-fw'
                  &nbsp;
                .show-for-small-only
                  = icon 'home fa-fw'
                  Home
          %li
            = link_to faq_path, title: 'FAQ' do
              .show-for-medium-up
                = icon 'question fa-fw'
                &nbsp;
              .show-for-small-only
                = icon 'question fa-fw'
                FAQ
          %li
            = link_to contact_path, title: 'Contact Us' do
              .show-for-medium-up
                = icon 'comment-o fa-fw fa-flip-horizontal'
                &nbsp;
              .show-for-small-only
                = icon 'comment-o fa-fw fa-flip-horizontal'
                Contact Us
      %ul.right
        - if user_signed_in?
          - if current_user.current_member?
            %li
              = link_to matches_url do
                = icon 'calendar fa-fw'
                Matches
            %li.has-dropdown
              = link_to '#' do
                = icon 'trophy fa-fw'
                Games
              %ul.dropdown
                %li
                  = link_to matches_path do
                    = icon 'check fa-fw'
                    RevGuess/Pick ’Em
                %li
                  = link_to standings_path do
                    = icon 'trophy fa-fw'
                    Standings
                %li.external
                  = link_to 'http://fantasy.mlssoccer.com/?autojoin-code=2857-908', target: '_blank' do
                    = icon 'users fa-fw'
                    MLS Fantasy
                %li
                  %label Other Fantasy
                %li.external
                  = link_to 'http://fantasy.premierleague.com/my-leagues/290319/join/?autojoin-code=1206043-290319', target: '_blank' do
                    = icon 'users fa-fw'
                    EPL Fantasy
                -#%li
                  = link_to 'http://bracket.mlssoccer.com/og_objects/wcbracket/groups/107?join_key=eqwfoi310asdofijwe&action=join', target: '_blank' do
                    = icon 'globe fa-fw'
                    World Cup Bracket
                - if current_user.privilege?('admin') || current_user.privilege?('executive_board')
                  %li
                    %label Admin
                  %li
                    = link_to mot_ms_path do
                      = icon 'list-ol fa-fw'
                      MotY Rankings

          %li
            = link_to edit_user_registration_path(current_user) do
              = icon 'user fa-fw'
              My Account
          - if current_user.current_member? && (current_user.privilege?('admin') || current_user.privilege?('executive_board'))
            %li.has-dropdown
              %a{ href: '#', title: 'Admin' }
                .show-for-medium-up
                  = icon 'bolt fa-fw'
                  &nbsp;
                .hide-for-medium-up
                  = icon 'bolt fa-fw'
                  Admin
              %ul.dropdown
                - if can? :view, :users
                  %li
                    = link_to users_path do
                      = icon 'users fa-fw'
                      Users
                - if can? :transactions, :static_page
                  %li
                    = link_to transactions_path do
                      = icon 'dollar fa-fw'
                      Transactions
                %li.divider
                %li
                  = link_to clubs_path do
                    = icon 'shield fa-fw'
                    Clubs
                - if can? :view, :players
                  %li
                    = link_to players_path do
                      = icon 'list fa-fw'
                      Players
          %li
            = link_to destroy_user_session_path, title: 'Sign Out', data: { method: :delete, confirm: 'Are you sure you wish to sign out?' } do
              .show-for-small-only
                = icon 'power-off fa-fw'
                Sign Out
              .show-for-medium-up
                = icon 'power-off fa-fw'
                &nbsp;
        - else
          %li
            = link_to new_user_registration_path do
              = icon 'pencil-square-o fa-fw'
              Sign Up
          %li
            = link_to new_user_session_path do
              = icon 'sign-in fa-fw'
              Sign In
