.contain-to-grid.sticky
  %nav.top-bar{ data: { topbar: true }}
    %ul.title-area
      %li.name
        %h1= link_to 'Midnight Riders', root_path
      %li.toggle-topbar.menu-icon
        %a{ href: '#' } Menu

    %section.top-bar-section
      %ul.left
        %li.has-dropdown
          %a
            = icon 'external-link-square'
            Sites
          %ul.dropdown
            %li
              = link_to 'http://MidnightRiders.com', target: '_blank' do
                Website
                %small= icon 'external-link'
            %li
              = link_to 'http://facebook.com/MidnightRiders', target: '_blank' do
                Facebook
                %small= icon 'external-link'
            %li
              = link_to 'http://twitter.com/MidnightRiders', target: '_blank' do
                Twitter
                %small= icon 'external-link'
          - if user_signed_in?
            %li
              = link_to user_home_url do
                = icon 'home'
                Home
      %ul.right
        - if user_signed_in?
          %li
            = link_to matches_url do
              = icon 'list'
              Matches
          %li.has-dropdown
            = link_to games_path do
              = icon 'star'
              Games
            %ul.dropdown
              %li
                = link_to standings_path do
                  = icon 'list-alt'
                  Standings
              %li
                %label External
              %li
                = link_to 'http://fantasy.mlssoccer.com/my-leagues/173/join/?autojoin-code=978-173', target: '_blank' do
                  %i.fa.fa-users.fa-fw
                  Fantasy
                  %small= icon 'external-link'
              - if current_user.role?('admin') || current_user.role?('executive_board')
                %li
                  %label Admin
                %li
                  = link_to mot_ms_path do
                    = icon 'list-ol'
                    MotY Rankings

          %li
            = link_to edit_user_registration_path(current_user) do
              = icon 'user'
              My Account
          - if current_user.role?('admin') || current_user.role?('executive_board')
            %li.has-dropdown
              %a Administrative
              %ul.dropdown
                - if can? :view, :users
                  %li= link_to 'Users', users_path
                %li= link_to 'Clubs', clubs_path
                - if can? :view, :players
                  %li= link_to 'Players', players_path
          %li.has-form
            = button_to destroy_user_session_path, method: :delete, class: 'button secondary' do
              %i.fa.fa-power-off.fa-fw
              Sign Out
        - else
          -# %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Sign In', new_user_session_path