!!!
%html
  %head
    %title= content_for?(:title) ? "Midnight Riders | #{content_for(:title)}" : 'Midnight Riders'
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Lato:300,700' }
    = stylesheet_link_tag 'application', stylesheets_club_path, media: 'all'
    %meta{ charset: 'utf-8' }
    = favicon_link_tag 'icons/apple-touch-icon-precomposed-57x57.png',   rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag 'icons/apple-touch-icon-precomposed-72x72.png',   rel: 'apple-touch-icon-precomposed', sizes: '72x72', type: 'image/png'
    = favicon_link_tag 'icons/apple-touch-icon-precomposed-114x114.png', rel: 'apple-touch-icon-precomposed', sizes: '114x114', type: 'image/png'
    = favicon_link_tag 'icons/favicon.ico'
    %meta{ name: 'og:title', content: "#{"#{content_for(:title)} | " if content_for?(:title)}Midnight Riders Member Portal" }
    %meta{ name: 'og:image', content: content_for?(:og_image) ? yield(:og_image) : image_url('logo.png') }
    - if Rails.env.production?
      = render partial: 'layouts/ga'
    - else
      :coffeescript
        unless window.ga then window.ga = () ->
    %meta{ content: 'initial-scale=1, maximum-scale=1', name: 'viewport'}
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    /[if lt IE9]
      %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js' }
      = stylesheet_link_tag 'iealert'
    = csrf_meta_tags
    = yield :head
    = render 'shared/riders_logo'
  %body
    = render partial: 'layouts/header'
    = render partial: 'layouts/navigation'
    %main
      .row
        .column#content
          = render partial: 'layouts/notifications'
          = yield
    = render partial: 'layouts/footer'
    <!--[if gte IE 9 | !IE ]><!-->
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin' if current_user && (current_user.privilege?('admin') || current_user.privilege?('executive_board'))
    = yield :foot
    = render_javascript
    <![endif]-->
    /[if lt IE 9]
      = javascript_include_tag 'jquery', 'iealert'
      :javascript
        $(function() { $('body').iealert() })
