!!!
%html
  %head
    %title= content_for?(:title) ? "Midnight Riders | #{content_for(:title)}" : 'Midnight Riders'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,700'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    = render partial: 'layouts/navigation'
    %main.row
      = render partial: 'layouts/notifications'
      .small-12.columns
        = yield
    = render partial: 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true